## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
num = 10
print(num)

10

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(num)

int

4) Crear una variable que contenga tu nombre

In [6]:
nombre = "Camilo Arango"

5) Crear una variable que contenga un número complejo

In [5]:
numComplejo = 10 + 3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
type(numComplejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
numPi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
var1 = "True"
var2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [13]:
print("El tipo de datos de la var1 es", type(var1), "y de la var 2", type(var2))

El tipo de datos de la var1 es <class 'str'> y de la var 2 <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [20]:
num1 = 10 + 3.5

11) Realizar una operación de suma de números complejos

In [22]:
numComplejo2 = 3 + 2j
print(numComplejo + numComplejo2)

(13+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [24]:
print(numComplejo2 + 12)

(15+2j)

13) Realizar una operación de multiplicación

In [25]:
print(3*5)

15

14) Mostrar el resultado de elevar 2 a la octava potencia

In [26]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [27]:
a = 27/4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [28]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [30]:
print(27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [32]:
print((6 * 4) + 3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [34]:
text = "Hola "
text2 = "Mundo"
print(text + text2)

Hola Mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [35]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [36]:
int("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [39]:
a = float("3,8") # Porque el float en python se trabaja con ".", para evitar el error se debemodificar por "3.8"

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [41]:
num2 = 3
num2 -= 1
print(num2)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [42]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [47]:
2 + "2" # No se puede realizar la operación de suma o concatenar con 2 tipos de datos distintos, deben ser iguales, texto con texto o número con número

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [50]:
num3 = 5
text3 = "Hola "
print(num3 * text3)

Hola Hola Hola Hola Hola